<clr-main-container>
	<!--<clr-header>
		<div class="header-nav" [clr-nav-level]="1">
			<a href="javascript://" class="active nav-link" href="javascript://"><span class="nav-text">Dashboard</span></a>
			<a href="javascript://" class="nav-link" href="javascript://"><span class="nav-text">Interactive Analytics</span></a>
		</div>
	</clr-header>-->
	<clr-header>
		<div class="branding">
			<a href="javascript://" class="nav-link">
				<clr-icon shape="vm-bug"></clr-icon>
				<span class="title">Project Clarity</span>
			</a>
		</div>
		<div class="header-nav" [clr-nav-level]="1">
			<a href="javascript://" class="active nav-link" href="javascript://"><span class="nav-text">Dashboard</span></a>
			<a href="javascript://" class="nav-link" href="javascript://"><span class="nav-text">Interactive Analytics</span></a>
		</div>
		<div class="header-actions">
			<a href="javascript://" class="nav-link nav-icon">
				<clr-icon shape="cog"></clr-icon>
			</a>
		</div>
	</clr-header>
	<div class="content-container">
		<main class="content-area">
			content
		</main>
		<nav class="sidenav" [clr-nav-level]="2">
			<section class="sidenav-content">
				<a href="javascript://" class="nav-link active">
                          Nav Element 1
                      </a>
				<a href="javascript://" class="nav-link">
                          Nav Element 2
                      </a>
				<section class="nav-group collapsible">
					<input id="tabexample1" type="checkbox">
					<label for="tabexample1">Collapsible Nav Element</label>
					<ul class="nav-list">
						<li><a class="nav-link">Link 1</a></li>
						<li><a class="nav-link">Link 2</a></li>
					</ul>
				</section>
				<section class="nav-group">
					<input id="tabexample2" type="checkbox">
					<label for="tabexample2">Default Nav Element</label>
					<ul class="nav-list">
						<li><a class="nav-link">Link 1</a></li>
						<li><a class="nav-link">Link 2</a></li>
						<li><a class="nav-link active">Link 3</a></li>
						<li><a class="nav-link">Link 4</a></li>
						<li><a class="nav-link">Link 5</a></li>
						<li><a class="nav-link">Link 6</a></li>
					</ul>
				</section>
			</section>
		</nav>
	</div>
</clr-main-container>


<!--<button type="submit" class="btn btn-primary">Primary</button>
<button type="submit" class="btn btn-success">Success</button>
<button type="submit" class="btn btn-warning">Warning</button>
<button type="submit" class="btn btn-danger">Danger</button>
<button type="submit" class="btn btn-danger" disabled>Disabled</button>


<clr-dropdown [clrMenuPosition]="'top-left'">
	<button class="btn btn-outline-primary" clrDropdownToggle>
              Dropdown
              <clr-icon shape="caret" class="icon-orient-down"></clr-icon>
          </button>
	<div class="dropdown-menu">
		<label class="dropdown-header">Dropdown header</label>
		<a href="javascript://" clrDropdownItem>Action 1</a>
		<a href="javascript://" clrDropdownItem>Action 2</a>
		<a href="javascript://" class="disabled" clrDropdownItem>Disabled Action</a>
		<div class="dropdown-divider"></div>
		<a href="javascript://" clrDropdownItem>Link 1</a>
		<a href="javascript://" clrDropdownItem>Link 2</a>
	</div>
</clr-dropdown>

<button class="btn btn-primary" (click)="opened = true">Show modal</button>
<clr-modal [(clrModalOpen)]="opened">
	<h3 class="modal-title">I have a nice title</h3>
	<div class="modal-body">
		<p>But not much to say...</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
	</div>
</clr-modal>


<form>
	<section class="form-block">
		<label>Form Inside a Grid</label>
		<div class="form-group row">
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
				<label for="gForm_1">Input field</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<input class="form-control" type="password" id="gForm_2" placeholder="Enter another value here" size="35">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
				<label for="gForm_3">Select box</label>
			</div>
			<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
				<div class="select form-control">
					<select id="gForm_3">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
				<label for="gForm_4">Text area</label>
			</div>
			<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
				<textarea id="gForm_4" rows="5" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
				<label>Another select box</label>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
				<div class="select form-control">
					<select id="exampleSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
				</div>
			</div>
			<div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
				<span>Sockets: 1</span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
				<label for="gForm_3">Other form fields</label>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
				<div class="toggle-switch">
					<input type="checkbox" id="othertoggle">
					<label for="othertoggle">Toggle</label>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="checkbox-inline">
					<input type="checkbox" id="othercheckbox" checked>
					<label for="othercheckbox">Inline Checkbox</label>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Button</button>
	</section>
</form>-->